<dx-data-grid
    id="gridContainer"
    [dataSource]="data"
    (onRowDblClick)="clickRow()"
    [showBorders]="true"
    [showRowLines]="true"
>
    <dxi-column dataField="name" dataType="string"></dxi-column>
    <dxi-column dataField="sex" dataType="string"></dxi-column>
    <dxi-column dataField="age" dataType="number"></dxi-column>
    <dxo-paging [pageSize]="2"></dxo-paging>
    <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[1, 2, 20]"
  ></dxo-pager>
</dx-data-grid>