<div class="row">
    <div class="col-2">
        <app-forc-image
            [apiUrl]="apiUrl"
        ></app-forc-image>
    </div>
    <div class="col-10">
        <div>
            <div class="row col-5">
                <div class="col-6">
                    <app-forc-text
                        label="Name"
                        [control]="form.controls.name"
                    ></app-forc-text>
                </div>
                <div class="col-5">
                    <app-forc-text
                        label="Gender"
                        [control]="form.controls.gender"
                    ></app-forc-text>
                </div>
            </div>
            <div class="row col-5">
                <div class="col-3">
                    <app-select-sex
                        label="Sex"
                        [control]="form.controls.sex"
                    ></app-select-sex>
                </div>
                <div class="col-5">
                    <app-select-physical-activity
                        label="Physical activity"
                        [control]="form.controls.physicalActivity"
                    ></app-select-physical-activity>
                </div>
                <div class="col-3">
                    <app-forc-number
                        label="Height, cm"
                        [control]="form.controls.height"
                    ></app-forc-number>
                </div>
            </div>
            <div class="row col-5">
                <div class="col-4">
                    <app-forc-date
                        label="Birth date"
                        [control]="form.controls.birthDate"
                    ></app-forc-date>
                </div>
                <div class="col-1 offset-5 mt-4">
                    <button class="btn btn-outline-success" (click)="save()">Save</button>
                </div>
                <div></div>
            </div>
        </div>
    </div>
</div>
<div class="col-6">
    <hr>
</div>
<div class="row">
    <div class="col-6">
        <app-daily-rate></app-daily-rate>
    </div>
</div>
<div class="row mt-3">
    <div class="col-6">
        <app-user-targets></app-user-targets>
    </div>
</div>
