<div class="row col-10">
    <div class="col-8">
        <div class = row>
            <div class="col-8 offset-2">
                <app-forc-number
                    [control]="form.controls.colories"
                    label="Colories"
                ></app-forc-number>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <app-forc-number
                    [control]="form.controls.proteins"
                    label="Proteins"
                ></app-forc-number>
            </div>
            <div class="col-3">
                <app-forc-number
                    [control]="form.controls.fats"
                    label="Fats"
                ></app-forc-number>
            </div>
            <div class="col-5">
                <app-forc-number
                    [control]="form.controls.carbohydrates"
                    label="Carbohydrates"
                ></app-forc-number>
            </div>
        </div>
    </div>
</div>